<a href="https://colab.research.google.com/github/shubhika1723/shubhika_INFO5731_Spring2020/blob/main/In_class_exercise_01_09072022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
print("length of a string: ", +len("Hiii this is shubhika"))

length of a string:  21

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
a="google.com"
b=dict()
for i in range(len(a)):
  x=a[i]
  y=a.count(x)
  b[x]=y
print(b)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
list=[12, 45, 78, 87]
sum=0
for i in range(0, len(list)):
  sum=sum+ list[i]
print("sum of iteams in list:", +sum)

sum of iteams in list: 222

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
s=list("restart")
for x in range(0,len(s)):
  a=s[x]
  for j in range(x+1, len(s)):
    if(a==s[j]):
      s[j]="$"
print(s)

['r', 'e', 's', 't', 'a', '$', '$']

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=int(input("enter a value: "))
b=int(input("enter b value: "))
s=3.14*((1+a/b)**3)
print("result of S: ", +s)

enter a value: 2
enter b value: 4
result of S:  10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
result={}
for i in (dic1, dic2, dic3) : result.update(i)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tuple=(1, "s", 2, "a", 3,"s", 4, "t")
print(1 in tuple)
print("t" in tuple)

True
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
set={23, 56, 67, 34, 56}
print("maximum value in a set: ",+max(set))
print("minimum value in a set: ",+min(set))

maximum value in a set:  67
minimum value in a set:  23

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
from random import randint
list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297',
        'bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458',
        'sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108',
        'pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234',
        'hy0232']
group=[[], [], [], [], [], []]
while len(list)>0: # no more than 6
  a=randint(0,len(list)-1)
  b=randint(0,5)
  while len(group[b])>=6:
    b=randint(0,5)
  group[b].append(list.pop(a))
for i in range(6): # atleast 4
  while len(group[i])<4:
    c=i
    while c==i:
      c=randint(0,5)
    group[i].append(group[c].pop())
for i in range(6):
  print("group", i, group[i])

group 0 ['nm0618', 'fh0141', 'sk1386', 'sc1229']
group 1 ['sa1198', 'pr0353', 'ms1500', 'ak0934', 'kg0470', 'sg1297']
group 2 ['vb0218', 'sk1313', 'hy0232', 'sm1907']
group 3 ['gn0108', 'ak0956', 'sb1357', 'sk1390', 'kg0569']
group 4 ['sm1640', 'aos0040', 'dr0609', 'ja0964', 'vm0377', 'jl1252']
group 5 ['bg0320', 'sk1458', 'ds0814', 'nv0234', 'av0659']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
a=[1, 2, 3, 5, 1, 6, 5, 3, 4]
b=[]
for i in range(len(a)):
  for j in range(i+1, len(a)):
    if(a[i]==a[j]):
      b.append(a[i])
if(b != []):
  print(b)
else:
  print(-1)

[1, 3, 5]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta
def sundays(year):
  d = date(year, 1, 1)
  d += timedelta(days= 6- d.weekday())
  while d.year ==year:
    yield d
    d += timedelta(days =7)
for s in sundays(2020):
  print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27