<a href="https://colab.research.google.com/github/shubhika1723/shubhika_INFO5731_Spring2020/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [24]:
# Your code here
import random
def rand(start, end, n):
  result=[]
  for i in range(n):
    result.append(random.randint(start, end))
  return result

n=12
start=1
end=100

list=rand(start, end, n)
print("generate 12 random numbers from 1 to 100: ", list)

list.sort()
print("list of numbers in ascending order: ",list)

list.sort(reverse=True)
print("list of numbers in descending order: ",list)

average=sum(list)/len(list)
print("average of the given list: ", average)

generate 12 random numbers from 1 to 100:  [16, 32, 88, 16, 17, 91, 43, 25, 92, 86, 95, 11]
list of numbers in ascending order:  [11, 16, 16, 17, 25, 32, 43, 86, 88, 91, 92, 95]
list of numbers in descending order:  [95, 92, 91, 88, 86, 43, 32, 25, 17, 16, 16, 11]
average of the given list:  51.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [25]:
from string import punctuation
# Your code here
sen1 = str(input("enter sentence 1 :"))
sen2 = str(input("enter sentence 2 :"))

print(sen1.split())
print(sen2.split())

c=[]
for i in sen1.split():
  if(i in sen2):
    c.append(i)
print(c)

sen=" ".join([sen1, sen2])
punctuations = ''' . , ; : ! ? '''
for j in sen.lower():
  if j in punctuations:
    sen=sen.replace(j, " ")
print(sen)

c1, c2, c3, c4, c5= 0, 0, 0, 0, 0
d=['a', 'e', 'i', 'o', 'u']
for sen in (sen1 + sen2):
  for k in sen:
    if(k=='a'):
      c1 +=1
    elif(k=='e'):
      c2 +=1
    elif(k=='i'):
      c3 +=1
    elif(k=='o'):
      c4 +=1
    elif(k=='u'):
      c5 +=1
print('a' + ':' +str(c1)+','+'e' + ':' +str(c2)+ ','+'i' + ':' +str(c3)+ ','+
      'o' + ':' +str(c4)+','+ 'u' + ':' +str(c5))

enter sentence 1 :hey ! how are you ?
enter sentence 2 :are you okay ?
['hey', '!', 'how', 'are', 'you', '?']
['are', 'you', 'okay', '?']
['are', 'you', '?']
hey   how are you   are you okay
a:3,e:3,i:0,o:4,u:2

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [26]:
# Your code here
import math
for r in range(1, 10):
  volume=(4/3)*math.pi*(r**3)
  print("radius r:", r ," volume:",volume)

radius r: 1  volume: 4.1887902047863905
radius r: 2  volume: 33.510321638291124
radius r: 3  volume: 113.09733552923254
radius r: 4  volume: 268.082573106329
radius r: 5  volume: 523.5987755982989
radius r: 6  volume: 904.7786842338603
radius r: 7  volume: 1436.7550402417319
radius r: 8  volume: 2144.660584850632
radius r: 9  volume: 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [13]:
#1
import statistics
import pandas as pd
data = pd.read_csv(r'/content/Assignment1_denton_housing.csv')

occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

diff=[list(occupied_houses['value'].values)[loop] - list(occupied_houses['value'].values)[loop+1]\
for loop in range(len(occupied_houses)-1)]
diff

[795, -5091, 303, -1404, -1565, -2622]

In [16]:
#2
unique_years = sorted(list(data['year'].unique()))

occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occupied_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop] * 100) /
\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\

for loop in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop] * 100) /\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\

for loop in range(len(new_house_df))]
new_house_df

,year,Vacant House,Occupied House,Percent of Vacant House,Percent of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [23]:
#3
max_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses

    year           title_field  value
35  2008  Vacant Housing Units   4483

In [22]:
# the highest number of Occupied housing units
max_occupied_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
occupied_houses = occupied_houses[occupied_houses['value'] == max_occupied_houses]
occupied_houses

    year             title_field  value
13  2014  Occupied Housing Units  46295

In [18]:
#4
print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].
value)))

44398.28543969185